
@{
    Layout = null;
}
@{
    ViewBag.Title = "index";
}
<head>
    @Scripts.Render("~/Scripts/jquery-1.11.3.min.js")
    @Scripts.Render("~/Scripts/microsoftTeams-1.4.1.min.js")
</head>

<h2>Click here to save the events</h2>

<script type="text/javascript">
    var microsoftTeams;

    // Set up the tab and stuff.
    microsoftTeams.initialize();

    microsoftTeams.settings.registerOnSaveHandler(function (saveEvent) {
       microsoftTeams.settings.setSettings({ suggestedDisplayName: "Events", contentUrl: createTabUrl(), entityId: "EventsTab" });
       saveEvent.notifySuccess();
    });

    function createTabUrl() {
        return window.location.protocol + "//" + window.location.host + "/Tabs/Events";
    }

    microsoftTeams.settings.setValidityState(true);
</script>

