html {
    font-size: 62.5% /* =10px */
}

body {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    background-color: transparent;
}

/*Common classes starts here*/
.button-default {
    background-color: #FFFFFF;
    color: black;
}

.button-primary {
    background-color: #6264a7;
    border-color: #6264a7;
    color: white;
}

.button {
    border-radius: 0.4rem;
    box-shadow: #CACADC 0 .3rem 0 0;
    width: 11.2rem;
    height: 3.2rem;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 1.4rem;
    font-weight: bold;
}

input::placeholder {
    font-size: 1.4rem;
    color: #252424;
    font-weight:normal;
}

/*Common classes Ends here*/

/*empty event state starts here*/
.empty-state-div {
    margin-top: 2rem;
    text-align: center;
}

.empty-event-image {
    height: 30.5rem;
    width: 32.5rem;
}

.empty-event-header {
    color: #252424;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: .5rem;
}

.empty-event-regular-text {
    color: #252424;
    opacity: 0.5;
    font-size: 1.4rem;
}

.new-event-button {
    margin-top: 3.2rem;
}
/*empty event state Ends here*/

/*Events view starts here*/
.event-tile {
    height: 26.4rem;
    width: 35.5rem;
    display: inline-block;
    padding: .8rem .4rem;
    margin: .4rem .8rem;
    background-color: white;
    color: #252424;
    font-weight: normal;
    cursor:pointer;
}

.event-tile-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1.6rem;
    height: 2.4rem;
    display: inline;
    padding-left: 1.6rem;
}

.event-tile-dropdown {
    display: inline;
    float: right
}

.event-tile-dropdown > button {
    background: none;
    border: none
}

.event-tile-date {
    height: 2rem;
    padding-left: 1.6rem;
    font-size: 1.4rem;
}

.event-tile-message-header {
    font-size: 1.2rem;
    opacity: 0.75;
    height: 1.6rem;
    padding-left: 1.6rem;
    margin-top: 2rem
}

.event-tile-message {
    font-size: 1.4rem;
    height: 2rem;
    padding-left: 1.6rem;
}

.event-tile-celebration-image-div {
    margin-top: 2.1rem;
}

.event-tile-celebration-image-div > img {
    Width: 34.7rem;
    Height: 12.8rem;
}

.ghost-event-tile-opacity, .ghost-event-tile-opacity div {
    opacity: 0.75;
}

.new-event-div {
    padding-top: 3.2rem;
    padding-left: .8rem;
}
/*Events view Ends here*/

/*Mange events starts here*/
.manage-event-outer-div {
    width: 53.6rem;
    height: 56.2rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 3.2rem;
    margin-right: 3.2rem;
    margin-top:3rem;
}

.manage-event-celebration-image-carousal {
    width: 99.9%;
}

.chevrons-icon {
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 12.7rem;
    text-align: center;
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer
}

.fa-angle-right {
    right: 0;
    color: white
}

.fa-angle-left {
    left: 0;
    color: white
}

.fa-angle-right:before {
    font-size: 2rem;
    margin-right: -.2rem;
    opacity: 0.60;
}

.fa-angle-left:before {
    font-size: 2rem;
    margin-left: -.2rem;
    opacity: 0.60;
}

.manage-event-celebration-image-carousal .carousel-item > img {
    height: 28.6rem;
    width: 100%;
}

.manage-event-content > div {
    padding-top: 1.2rem;
}

div.manage-event-content > div:first-child {
    width: 53.6rem;
}

div.manage-event-content > div:first-child > div:first-child {
    display: inline-block;
    width: 25.5rem;
}

div.manage-event-content > div:first-child > div:last-child {
    display: inline-block;
    width: 25.5rem;
    float:right;
    margin-right:1rem
}

.manage-event-content input[type="text"], .manage-event-content input[type="date"] {
    width: 99.9%;
    height: 3rem;
    padding: .8rem 1rem;
    box-sizing: border-box;
    border: none;
    border-radius: .3rem;
    background-color: #f3f2f1 !important;
    font-size: 1.4rem;
    font-weight: normal;
    color: #252424;
    resize: none;
    text-indent: .1rem;
    outline-color: transparent;
}

input[type="date"]:after {
    background: none;
    display: block;
    font-family: 'FontAwesome';
    content: '\f073';
    width: 1.5rem;
    height: 2rem;
    position: relative;
    top: 0;
    right: .6rem;
    color: grey;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
    position: relative;
    top: 0;
    right: -1.2rem;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.manage-event-content select {
    width: 100%;
    font-size: 1.4rem;
    font-weight: normal;
    color: #252424;
    height: 3rem;
    border-radius:.3rem;
    padding-left:.8rem;
    background-color: #f3f2f1;
    border-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline-color: transparent;
}

.select-wrapper {
    position: relative;
    font-size: 1.4rem;
}

.select-wrapper .timezone-dropdown {
    width: 88%;
    margin-left: .2rem;
}

.select-wrapper:after {
    font-family: FontAwesome;
    content: '\f107';
    font-size: 2.5rem;
    position: absolute;
    top: -.4rem;
    right: .8rem;
    color: rgba(0, 0, 0, .3);
    pointer-events: none;
}

.manage-event-field-name {
    font-size: 1.2rem;
    font-weight: normal;
    color: #252424;
    opacity: 0.75;
}

.manage-event-buttons-div {
    float: right;
    margin-top: 1.6rem;
    margin-right:3.2rem;
}

/*Mange events ends here*/
