body {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    background-color: transparent;
}

/*Common classes starts here*/
.button-primary {
    background-color: #6264a7;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    border-color: #6264a7;
    box-shadow: #CACADC 0px 3px 0px 0px;
    width: 112px;
    height: 32px;
    cursor: pointer;
}
.margin-top-32px{
    margin-top:32px;
}
/*Common classes Ends here*/

/*empty event state starts here*/
.empty-state-div {
    margin-top: 20px;
    text-align: center;
}
.empty-event-image {
    height: 305px;
    width: 325px;
}
.empty-event-header {
    color: #252424;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}
.empty-event-regular-text {
    color: #252424;
    opacity: 0.5;
    font-size: 14px;
}
/*empty event state Ends here*/

/*Events view starts here*/
.event-tile {
    height: 264px;
    width: 355px;
    display: inline-block;
    padding: 8px 4px;
    margin: 4px 8px;
    background-color: white;
    color: #252424;
    font-weight: normal;
}
.event-tile-title{
    font-size: 18px;
    font-weight: bold;
    margin-top: 16px;
    height: 24px;
    display: inline;
    padding-left: 16px;
}
.event-tile-dropdown {
    display: inline;
    float: right
}
    .event-tile-dropdown > button {
        background: none;
        border: none
    }
.event-tile-date {
    height: 20px;
    padding-left: 16px;
    font-size: 14px;
 }
.event-tile-message-header {
    font-size: 12px;
    opacity: 0.75;
    height: 16px;
    padding-left: 16px;
    margin-top: 20px
}
.event-tile-message{
    font-size: 14px;
    height: 20px;
    padding-left: 16px;
}
.event-tile-celebration-image-div{
    margin-top:21px;
}
.event-tile-celebration-image-div > img {
    Width: 347px;
    Height: 128px;
}
.ghost-event-tile-opacity, .ghost-event-tile-opacity div {
    opacity: 0.75;
}
.new-event-div {
    padding-top: 32px;
    padding-left: 8px;
}
/*Events view Ends here*/
